// _bulma-config.scss
@use "variables" as *;
@use "tokens" as *;


$sizes: (
  1: var(--font-size-1),
  2: var(--font-size-2),
  3: var(--font-size-3),
  4: var(--font-size-4),
  5: var(--font-size-5),
  6: var(--font-size-6),
  7: var(--font-size-7)
);

$family-primary: $bodytext;
$family-secondary: $headline2;
$title-family: $headline;

$navbar-background-color: transparent;
$card-background-color: $warning;
$card-radius: 0.25rem;
$body-background-color: $background;
$body-size: 22px;
$hero-body-padding-medium: 3rem 4.5rem;
$label-color:$white;
$button-family: $bodytext;
$button-weight:300;
$button-border-color: $link;
$border:$link;
$section-padding: 2rem 0.75rem;
$container-padding: 0 0.75rem;
