@use "bulma/sass/utilities/css-variables" as cv;
@use "bulma/sass/utilities/derived-variables" as dv;
@use "bulma/sass/utilities/initial-variables" as iv;

//define has-background-gradient-{success} etc
@each $name, $color in dv.$colors {
    $h: cv.getVar($name, "", "-h");
    $s: cv.getVar($name, "", "-s");
    $l: cv.getVar($name, "", "-l");
  
    .#{iv.$class-prefix}#{iv.$helpers-has-prefix}background-gradient-#{$name} {
      background-image: radial-gradient(
        circle at 20% center,
        hsl(#{$h}, #{$s}, calc(#{$l} - 10%)) 0%,
        hsl(#{$h}, #{$s}, calc(#{$l} + 10%)) 100%
      );
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @mixin generate-is-size-7-variants($font-size: 0.85rem) {
    // Base class
    .is-size-7 {
      font-size: $font-size;
    }
  
    // Responsive variants
    @each $breakpoint in mobile, touch, tablet, desktop, widescreen, fullhd {
      @include breakpoint($breakpoint) {
        .is-size-7-#{$breakpoint} {
          font-size: $font-size;
        }
      }
    }
  }

@mixin mobile {
    @media (max-width: 768px) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (min-width: 769px) and (max-width: 1023px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: 1024px) {
      @content;
    }
  }
  
  @mixin widescreen {
    @media (min-width: 1216px) {
      @content;
    }
  }
  
  @mixin fullhd {
    @media (min-width: 1408px) {
      @content;
    }
  }
    @mixin touch {
    @media (max-width: 1023px) {
      @content;
    }
  }
  
  // Button Skew Effect
  @mixin button-skew-effect($skew: 10px, $duration: 0.3s) {
    transform: skewX(-$skew);
    transition: transform $duration ease;
    &:hover {
      transform: skewX(0);
    }
  }
  
  // Flex Center
  @mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  // Text Truncate
  @mixin truncate($lines: 1) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
  
  // Reset Button
  @mixin reset-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
  }
  