@use "sass:map";

$rec-black: #000;
$rec-white: #fff;
$rec-gold: #C29C38;
$rec-cyan: #287768;
$rec-yellow: #FDCD00;
$rec-aqua: #37B5A0;
$rec-gray: #707070;

$colors: (
  rec-black: $rec-black,
  rec-white: $rec-white,
  rec-gold: $rec-gold,
  rec-cyan: $rec-cyan,
  rec-yellow: $rec-yellow,
  rec-aqua: $rec-aqua,
  rec-gray: $rec-gray
);

$headline: "aktiv-grotesk", sans-serif;
$headline2: "aktiv-grotesk", sans-serif;
$bodytext: "trade-gothic-next-condensed", sans-serif;
$family-accent: "bicyclette", sans-serif;




$body-margin: 30px;
$shadow: -0.25em 0.25em 0em 0em map.get($colors, rotor-dark-pink);

// Easily accessed colors
$primary: $rec-gold;
$body-color: $rec-black;
$link: $rec-cyan;
$info: $rec-aqua;
$success: $rec-yellow;
$warning: $rec-gold;
$danger: $rec-cyan;
$dark: $rec-black;
$text: $rec-black;
$background: $rec-white;
$white: $rec-white;
$black: $rec-black;
